/* DECLARACIONES GENERALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Telegraf', Tahoma, Geneva, Verdana, sans-serif;
}

/* VARIABLES GOBLALES DE COLORES*/

:root {
    --white: #f8f8f8;
    --lightblue: #b0d8da;
    --lightbluealt: #6ea6a9;
    --lightgrey: #d9d9d9;
    --darkgrey: #5a5a5a;
    --darkblue: #1a132f;
    --shadow: rgba(33,33,33,.2);
    --googlecolor: #4285f4;
    --facebookcolor: #3b5998;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    background-color: var(--lightblue);
}

/* SISTEMA DE GRILLA */

.grid {
    display: grid;
    grid-template-columns: auto 65%;
    grid-template-areas:
        "body form-container"
}

.container {
    display: grid;
    grid-template-rows: 5rem 6rem auto;
    grid-template-areas:
        "logo"
        "titulo"
        "imagen";
}

.logo {
    grid-area: logo;
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 1rem;
}

.logo img {
    width: 3rem;
    height: 3rem;
}

.titulo {
    grid-area: titulo;
    width: auto;
    height: 4rem;
    margin: 1rem;
    font-size: 2.2vw;
    color: var(--white);
}

.imagen {
    grid-area: imagen;
    width: auto;
    height: auto;
}

.imagen img {
    width: 25rem;
    height: 25rem;
    float: right;
    transform: translate(6rem);
}

/* FORMULARIO */

.form-container {
    grid-area: form-container;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 42px 0 0 42px;
    float: right;
}

#signin {
    display: none;
}

.form {
    width: 28rem;
    height: auto;
    margin: 6rem 0 0 12rem;
}

.form h1 {
    font-size: 2.2vw;
    margin-bottom: 2rem;
    color: var(--darkblue);
}

.btn-google {
    width: 13.5rem;
    height: 2.5rem;
    margin-right: .7rem;
    background-color: var(--googlecolor);
    color: var(--white);
    font-size: 1.1vw;
    border: none;
    border-radius: 8px;
    transition: all ease-in-out .2s;
}

.btn-google:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow);
}

.btn-facebook {
    width: 13.5rem;
    height: 2.5rem;
    background-color: var(--facebookcolor);
    color: var(--white);
    font-size: 1.1vw;
    border: none;
    border-radius: 8px;
    transition: all ease-in-out .2s;
}

.btn-facebook:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow);
}

.form p {
    margin-top: 2rem;
    font-size: 1.1vw;
    color: var(--darkgrey);
}

.form a {
    text-decoration: none;
    color: var(--lightbluealt);
    transition: all ease-in-out .3s;
}

.form a:hover {
    color: var(--darkblue);
}

.input {
    display: block;
    width: 100%;
    height: 2rem;
    margin: 2rem 0 0 0;
    font-size: 1.1vw;
    background: none;
    border: none;
    border-bottom: 1px solid var(--lightgrey);
    outline: none;
}

.btn {
    width: 100%;
    height: 2.5rem;
    margin: 2rem 0 0 0;
    background-color: var(--lightblue);
    border: none;
    border-radius: 8px;
    font-size: 1.1vw;
    font-weight: 600;
    color: var(--white);
    transition: all ease-in-out .2s;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--darkblue);
}