/* DECLARACIONES GENERALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Telegraf', Tahoma, Geneva, Verdana, sans-serif;
}

/* VARIABLES GOBLALES DE COLORES*/

:root {
    --white: #f8f8f8;
    --lightblue: #b0d8da;
    --lightbluealt: #6ea6a9;
    --lightgrey: #d9d9d9;
    --darkgrey: #5a5a5a;
    --darkblue: #1a132f;
    --shadow: rgba(33,33,33,.2);
    --googlecolor: #4285f4;
    --facebookcolor: #3b5998;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    background-color: var(--lightbluealt);
}

/* SISTEMA DE GRILLA */

.grid {
    display: grid;
    grid-template-columns: auto 65%;
    grid-template-areas:
        "body form-container"
}

.container {
    display: grid;
    grid-template-rows: 5rem 6rem auto;
    grid-template-areas:
        "logo"
        "titulo"
        "imagen";
}

.logo {
    grid-area: logo;
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 1rem;
}

.logo img {
    width: 3rem;
    height: 3rem;
}

.titulo {
    grid-area: titulo;
    width: auto;
    height: 4rem;
    margin: 1rem;
    font-size: 2.2vw;
    color: var(--white);
}

.imagen {
    grid-area: imagen;
    width: auto;
    height: auto;
    transform: translate(9rem);
}

/* EFECTO PARALLAX */

.img1 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 1;
}
.img2 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 2;
}
.img3 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 3;
}
.img4 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 4;
}
.img5 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 5;
}
.img6 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 6;
}
.img7 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 7;
}

/* FORMULARIO */

.form-container {
    grid-area: form-container;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border-radius: 42px 0 0 42px;
    float: right;
}

#signin {
    display: none;
}

.form {
    width: 28rem;
    height: auto;
    margin: 6rem 0 0 12rem;
}

.form h1 {
    font-size: 2.2vw;
    margin-bottom: 2rem;
    color: var(--darkblue);
}

.login-buttons {
    display: flex;
    flex-direction: row;
}

.btn-google {
    width: 13.5rem;
    height: 2.5rem;
    margin-right: .7rem;
    background-color: var(--googlecolor);
    color: var(--white);
    font-size: 1.1vw;
    border: none;
    border-radius: 8px;
    transition: all ease-in-out .2s;
}

.btn-google:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow);
}

.btn-facebook {
    width: 13.5rem;
    height: 2.5rem;
    background-color: var(--facebookcolor);
    color: var(--white);
    font-size: 1.1vw;
    border: none;
    border-radius: 8px;
    transition: all ease-in-out .2s;
}

.btn-facebook:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem var(--shadow);
}

.form p {
    margin-top: 2rem;
    font-size: 1.1vw;
    color: var(--darkgrey);
}

.form a {
    text-decoration: none;
    color: var(--lightbluealt);
    transition: all ease-in-out .3s;
}

.form a:hover {
    color: var(--darkblue);
}

.input {
    display: block;
    width: 100%;
    height: 2rem;
    margin: 2rem 0 0 0;
    font-size: 1.1vw;
    background: none;
    border: none;
    border-bottom: 1px solid var(--lightgrey);
    outline: none;
}

.btn {
    width: 100%;
    height: 2.5rem;
    margin: 2rem 0 0 0;
    background-color: var(--lightbluealt);
    border: none;
    border-radius: 8px;
    font-size: 1.1vw;
    font-weight: 600;
    color: var(--white);
    transition: all ease-in-out .2s;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--darkblue);
}

@media only screen and (max-width: 1140px) {
    .grid {
        display: flex;
        flex-direction: column;
        
    }
    .container {
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .form-container {
        border-radius: 42px 42px 0 0;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 6rem;
    }
    .logo img {
        width: 4rem;
        height: 4rem;
    }
    .titulo {
        display: none;
    }
    .form {
        width: 100%;
        height: 100%;
        padding: 2rem 4rem 0 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .form h1 {
        color: var(--darkblue);
        font-size: 2rem;
        margin: 0;
    }
    .form p {
        font-size: .6rem;
    }
    .o {
        display: none;
    }
    .input {
        height: 3rem;
        font-size: 1.2rem;
    }
    .btn {
        height: 3rem;
        font-size: 1rem;
    }
    .btn-google{
        display: none;
    }
    .btn-facebook {
        display: none;
    }
    .imagen {
        display: none;
    }
}