/* DECLARACIONES GENERALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

/* COLORES*/

:root {
    --white: #ffffff;
    --lightblue: #b0d8da;
    --lightbluealt: #6ea6a9;
    --lightgrey: #d9d9d9;
    --darkgrey: #5a5a5a;
    --darkblue: #1a132f;
    --shadow: rgba(33,33,33,.2);
    --googlecolor: #4285f4;
    --facebookcolor: #3b5998;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
    background-color: var(--darkblue);
}

/* SISTEMA DE GRILLA */

.grid {
    display: grid;
    grid-template-columns: auto 65%;
    grid-template-areas:
        "body form-container"
}
.container {
    display: grid;
    grid-template-rows: 5rem 6rem auto;
    grid-template-areas:
        "logo"
        "titulo"
        "imagen";
}
.logo {
    grid-area: logo;
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 1rem;
}
.logo img {
    width: 3rem;
    height: 3rem;
}
.titulo {
    grid-area: titulo;
    width: auto;
    height: 4rem;
    margin: 1rem;
    font-size: 1.5rem;
    color: var(--white);
}
.imagen {
    grid-area: imagen;
    width: auto;
    height: auto;
    transform: translate(9rem);
}

/* EFECTO PARALLAX */

.img1 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 1;
}
.img2 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 2;
}
.img3 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 3;
}
.img4 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 4;
}
.img5 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 5;
}
.img6 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 6;
}
.img7 {
    width: 30rem;
    height: 30rem;
    float: right;
    position: absolute;
    z-index: 7;
}

.welcome {
    display: none;
}

/* FORMULARIO */

.form-container {
    grid-area: form-container;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-radius: 42px 0 0 42px;
    float: right;
}
#signin {
    display: none;
}
.form {
    width: 28rem;
    height: auto;
    flex-direction: column;
}
.login-text h1 {
    font-size: 1.8rem;
    color: var(--darkblue);
    margin: 0 0 1rem 0;
}
.login-text p {
    font-size: 1rem;
    color: var(--darkgrey);
}
.new-account {
    margin: 0;
}
.new-account a {
    text-decoration: none;
    color: var(--darkblue);
    font-weight: 600;
}
.login-account {
    margin: 0;
}
.login-account a {
    text-decoration: none;
    color: var(--darkblue);
    font-weight: 600;
}
.input-data {
    margin: 3rem 0 0 0;
}
.input-data label {
    color: var(--darkgrey);
}
.input {
    display: block;
    width: 100%;
    height: 2.5rem;
    margin: 1rem 0 1rem 0;
    padding: 0 0 0 1rem;
    font-size: 1.1vw;
    border-radius: 8px;
    background: none;
    border: none;
    background-color: rgb(240, 240, 240);
    outline: none;
}
.btn {
    width: 100%;
    height: 2.5rem;
    margin: 2rem 0 3rem 0;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--darkblue);
    color: var(--white);
    transition: all ease-in-out .1s;
}
.btn:hover {
    cursor: pointer;
    background-color: var(--lightblue);
    color: var(--darkblue);
    font-weight: bold;
}
.btn:active {
    background-color: var(--lightblue);
    color: var(--darkblue);
    font-weight: bold;
    border-top: 3px solid var(--darkblue);
    border-left: 3px solid var(--darkblue);
    transform: translateX(-2px);
    transform: translateY(2px);
}

@media only screen and (max-width: 1140px) {
    .grid {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container {
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 6rem;
        margin: 0;
    }
    .logo img {
        width: 4rem;
        height: 4rem;
    }
    .titulo {
        display: none;
    }
    /* WELCOME */
    .img {
        width: 100%;
        height: 12rem;
        display: flex;
        justify-content: center;
    }
    .img img {
        display: flex;
        width: 12rem;
        height: auto;
    }
    .welcome {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .welcome-text {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 1rem 0;
    }
    .welcome-text h1 {
        display: flex;
        color: var(--white);
        font-size: 1.5rem;
    }
    .welcome-text p {
        display: flex;
        flex-direction: column;
        color: var(--white);
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: .6px;
    }
    .btn-container {
        display: flex;
        flex-direction: column;
        
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }
    .buttons input {
        width: 100%;
        height: 2.5rem;
        border: none;
        border-radius: 8px;
        margin: 1rem 0 0 0;
    }
    .buttons input:nth-child(1) {
        font-weight: 600;
        font-size: 1rem;
        background-color: var(--white);
        color: var(--darkblue);
        border-radius: 8px;
    }
    .buttons input:nth-child(2) {
        font-weight: 600;
        font-size: 1rem;
        border: 3px solid var(--white);
        background-color: transparent;
        color: var(--white);
        border-radius: 8px;
    }
    .form-container {
        display: none;
        border-radius: 42px 42px 0 0;
    }
    /* FORM */
    #login {
        display: none;
    }
    .form {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: auto;
    }
    .login-text h1 {
        width: 100%;
        font-size: 1.2rem;
        margin: 2rem 0 .5rem 0;
        color: var(--darkblue);
    }
    .login-text p {
        width: 100%;
        font-size: 1rem;
        margin: 0;
    }
    .input-data {
        width: 100%;
        margin: 0;
    }
    .input-data label {
        font-size: 1rem;
        color: var(--darkgrey);
        margin: 2rem 0 1rem 0;
    }
    .input {
        height: 2.5rem;
        font-size: 1rem;
        margin: .5rem 0 1rem 0;
        background-color:rgb(240, 240, 240);
        border-bottom: 0;
    }
    .btn {
        height: 2.5rem;
        margin: .5rem 0 0 0;
        font-size: 1rem;
        background-color: var(--darkblue);
        color: var(--white);
        border-radius: 8px;
    }
    .new-account {
        font-size: 1rem;
        padding: 1rem 0 4rem 0;
    }
    .login-account {
        font-size: .9rem;
        padding: 1rem 0 4rem 0;
    }
    .login-account a {
        text-decoration: none;
        color: var(--darkblue);
        font-weight: 600;
    }
    .imagen {
        display: none;
    }
}