/* MEDIA QUERIES */

/* DISPOSITIVOS CHICOS (phones, 600px and down) */
@media only screen and (max-width: 690px) {
    body {
        background-color: var(--white);
    }
    .header {
        height: 8rem;
        background-color: var(--darkblue);
        padding: 0;
    }
    .grid-header {
        width: 100%;
        height: 0;
        border-radius: 0 0 42px 42px;
        display: flex;
        flex-direction: column;
    }
    .header-top {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    .logo {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img {
        width: 2rem;
        height: 2rem;
    }
    .grid-datos {
        padding: 1rem 0 1rem 0;
        grid-template-rows: 1fr;
        grid-template-columns: 7fr 7fr 7fr 7fr;
        grid-template-areas: "items-container ingresos-container egresos-container balance-container";
        background-color: var(--darkblue);
        color: var(--white);
    }
    .datos {
        
    }
    .items-icon {
        color: var(--white);
    }
    .ingresos-icon {
        color: var(--white);
    }
    .egresos-icon {
        color: var(--white);
    }
    .balance-icon {
        color: var(--white);
    }
    .tabla-base {
        display: none;
    }
    .fila-container {
        height: 3rem;
        border-radius: 1rem;
        margin-top: 1rem;
        padding-right: .5rem;
        background-color: var(--white);
        box-shadow: 0px 0px 9px 0px var(--lightgrey);
    }
    .grid-tabla {
        align-items: center;
        font-size: 0.9em;
        color: var(--darkblue);
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 3rem 0.5rem 3rem;
        
    }
    .vacio {
        display: none;
    }
    .main {
        padding: 0;
    }
    .titulo-cat {
        display: none;
        font-size: 1rem;
        font-weight: 600;
        color: var(--white);
        margin: 1rem 0 0 1rem;
        padding-bottom: 0;
        border: none;
    }
    .seccion-categorias {
        width: 100%;
        height: 33.5rem;
        display: none;
        padding: .5rem 1rem .5rem 1rem;
        justify-content: space-between;
    }
    .cat {
        height: 3rem;
        padding: 1rem;
        display: flex;
        margin-top: .5rem;
        border-radius: .5rem;
        background: var(--white);
        color: var(--darkblue);
        box-shadow: 0px 0px 9px 0px var(--lightgrey);
    }
    .cat-icon {
        margin: 0;
        padding: 0 1rem 0 0;
        font-size: 1rem;
        border-right: 0;
    }
    .tipo-cat {
        padding: 0;
        font-size: .8rem;
    }
    .menu {
        display: none;
    }
    .menu-mobile {
        position: fixed;
        width: 100%;
        height: 70px;
        background: var(--darkblue);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1rem 1rem 0 0;
        bottom: 0;
    }
    .menu-mobile ul {
        display: flex;
        width: 350px;
    }
    .menu-mobile ul li {
        position: relative;
        list-style: none;
        width: 70px;
        height: 70px;
        z-index: 1;
    }
    .menu-mobile ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }
    .menu-mobile ul li a .icon {
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.5em;
        text-align: center;
        transition: 0.5s;
        color: var(--white);
    }
    .menu-mobile ul li.active a .icon {
        transform: translateY(-32px);
        color: #000;
    }
    .menu-mobile ul li a .text {
        position: absolute;
        color: var(--white);
        font-weight: 400;
        font-size: 0.75em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(20px);
    }
    .menu-mobile ul li.active a .text {
        opacity: 1;
        transform: translateY(10px);
    }
    .indicator {
        position: absolute;
        top: -50%;
        width: 70px;
        height: 70px;
        background: var(--lightblue);
        border-radius: 50%;
        border: 6px solid var(--white);
        transition: 0.5s;
    }
    .indicator::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -22px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-top-right-radius: 20px;
        box-shadow: 1px -10px 0 0 var(--white);
    }
    .indicator::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -22px;
        width: 20px;
        height: 20px;
        background: transparent;
        border-top-left-radius: 20px;
        box-shadow: -1px -10px 0 0 var(--white);
    } 
    .menu-mobile ul li:nth-child(1).active~.indicator {
        transform: translateX(calc(70px * 0));
    }
    .menu-mobile ul li:nth-child(2).active~.indicator {
        transform: translateX(calc(70px * 1));
    } 
    .menu-mobile ul li:nth-child(3).active~.indicator {
        transform: translateX(calc(70px * 2));
    }
    .menu-mobile ul li:nth-child(4).active~.indicator {
        transform: translateX(calc(70px * 3));
    }
    .menu-mobile ul li:nth-child(5).active~.indicator {
        transform: translateX(calc(70px * 4));
    }
    .fecha-container {
        display: none;
    }
    .btn-agregar {
        display: none;
    }
    .modal {
        width: 90%;
    }
}
@media only screen and (min-width: 690px) {
    .main-container {
        grid-template-columns: 20% auto;
        grid-template-rows: 12.5rem auto 5rem;
        grid-template-areas:
            "menu header"
            "menu main"
            "menu footer";
    }
}